In [204]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [205]:
movies = pd.read_csv('dataset/tmdb_5000_movies.csv')
credits = pd.read_csv('dataset/tmdb_5000_credits.csv')

In [206]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [207]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [208]:
movies = movies.merge(credits,on='title')

In [209]:
movies.shape

(4809, 23)

In [210]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [211]:
cols = ['budget','homepage','original_title','production_companies',
       'production_countries', 'release_date','original_language','original_title','popularity','revenue', 'runtime','spoken_languages', 'status','tagline','vote_average',
       'vote_count', 'movie_id']

In [212]:
set(movies.columns) - set(cols)

{'cast', 'crew', 'genres', 'id', 'keywords', 'overview', 'title'}

In [213]:
movies = movies[['cast', 'crew', 'genres', 'id', 'keywords', 'overview', 'title']]

In [214]:
movies.head()

,cast,crew,genres,id,keywords,overview,title
0,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar
1,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,Spectre
3,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises
4,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter

In [215]:
movies.isnull().sum()

cast        0
crew        0
genres      0
id          0
keywords    0
overview    3
title       0
dtype: int64

In [216]:
movies.dropna(inplace=True)

In [217]:
movies.isnull().sum()

cast        0
crew        0
genres      0
id          0
keywords    0
overview    0
title       0
dtype: int64

In [218]:
movies.duplicated().sum()

0

In [219]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [220]:
import ast
def clean_data(data):
    l = []
    for i in ast.literal_eval(data):
        l.append(i['name'])
    return l

In [221]:
clean_data(movies.iloc[0].genres)

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [222]:
movies['genres'] = movies['genres'].apply(clean_data)

In [223]:
movies['keywords'] = movies['keywords'].apply(clean_data)

In [224]:
movies.head()

,cast,crew,genres,id,keywords,overview,title
0,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar
1,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,Spectre
3,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,The Dark Knight Rises
4,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",John Carter

In [225]:
def get_top_cast(cast):
    top_cast = []
    for i,c in enumerate(ast.literal_eval(movies.cast[0])):
        if i == 5:
            break
        top_cast.append(c['name'])
    return top_cast

In [226]:
get_top_cast(movies.cast[0])

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez']

In [227]:
movies['cast'] = movies['cast'].apply(get_top_cast)

In [228]:
def get_director(data):
    director = []
    for i in ast.literal_eval(data):
        if i['job'] == 'Director':
            director.append(i['name'])
            break
    return director

In [229]:
get_director(movies['crew'][0])

['James Cameron']

In [230]:
movies['crew'] = movies['crew'].apply(get_director)

In [231]:
movies['crew']

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [232]:
movies.head()

,cast,crew,genres,id,keywords,overview,title
0,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar
1,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Gore Verbinski],"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Sam Mendes],"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,Spectre
3,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Christopher Nolan],"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,The Dark Knight Rises
4,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Andrew Stanton],"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",John Carter

In [233]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [234]:
movies.head()

,cast,crew,genres,id,keywords,overview,title
0,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar
1,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Gore Verbinski],"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End
2,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Sam Mendes],"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bondâ€™s, past, send...",Spectre
3,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Christopher Nolan],"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises
4,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Andrew Stanton],"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",John Carter

In [235]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['title'] = movies['title'].apply(lambda x:x.lower())

In [236]:
movies.head()

,cast,crew,genres,id,keywords,overview,title
0,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",avatar
1,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[GoreVerbinski],"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",pirates of the caribbean: at world's end
2,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[SamMendes],"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bondâ€™s, past, send...",spectre
3,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[ChristopherNolan],"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",the dark knight rises
4,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[AndrewStanton],"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",john carter

In [237]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['crew'] + movies['cast']

In [238]:
movies = movies[['id','title','tags']]

In [239]:
movies.head()

,id,title,tags
0,19995,avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,pirates of the caribbean: at world's end,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,the dark knight rises,"[Following, the, death, of, District, Attorney..."
4,49529,john carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [240]:
movies['tags'] = movies['tags'].apply(lambda x:(' '.join(x)).lower())

In [241]:
movies.head()

,id,title,tags
0,19995,avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,pirates of the caribbean: at world's end,"captain barbossa, long believed to be dead, ha..."
2,206647,spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,the dark knight rises,following the death of district attorney harve...
4,49529,john carter,"john carter is a war-weary, former military ca..."

In [261]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [271]:
vectorizer = TfidfVectorizer()
feature_vectors = vectorizer.fit_transform(movies['tags'])

In [272]:
print(feature_vectors)

  (0, 17383)	0.02365367422386497
  (0, 25713)	0.02365367422386497
  (0, 24579)	0.02365367422386497
  (0, 30090)	0.02365367422386497
  (0, 23464)	0.02365367422386497
  (0, 14037)	0.17499903413477064
  (0, 268)	0.11525627160441902
  (0, 17536)	0.18180377215659138
  (0, 20901)	0.1913945117329261
  (0, 1423)	0.19819924975474681
  (0, 16129)	0.1913945117329261
  (0, 2480)	0.1053522337495181
  (0, 25077)	0.12403329104034581
  (0, 4592)	0.18180377215659138
  (0, 961)	0.17499903413477064
  (0, 27807)	0.16176206459641462
  (0, 25218)	0.12403329104034581
  (0, 23048)	0.11573413986174773
  (0, 10797)	0.15107095572536305
  (0, 25240)	0.15001950821483598
  (0, 25042)	0.12983133780761102
  (0, 25223)	0.17815754219457008
  (0, 25242)	0.19819924975474681
  (0, 10792)	0.10923304752736808
  (0, 6495)	0.1601301296904933
  :	:
  (4805, 19193)	0.060576202756847254
  (4805, 19124)	0.0726032766101739
  (4805, 29944)	0.07610841504660235
  (4805, 24314)	0.06266672536360211
  (4805, 12341)	0.10128722275702653
  (4805, 12163)	0.13625432861219255
  (4805, 29426)	0.046279403713861605
  (4805, 12504)	0.03665657066009206
  (4805, 18586)	0.060294593068166445
  (4805, 15395)	0.09889246202471208
  (4805, 29952)	0.07348369166597186
  (4805, 3990)	0.04793635334812806
  (4805, 10381)	0.04359559692451192
  (4805, 10698)	0.04881044276056592
  (4805, 12089)	0.05590354527010854
  (4805, 17383)	0.020040893086376292
  (4805, 25713)	0.020040893086376292
  (4805, 24579)	0.020040893086376292
  (4805, 30090)	0.020040893086376292
  (4805, 23464)	0.020040893086376292
  (4805, 1217)	0.02604817091096313
  (4805, 19191)	0.04308888068513967
  (4805, 27344)	0.05098658693138963
  (4805, 27037)	0.04594343573509818
  (4805, 13271)	0.030328386621055543

In [273]:
from sklearn.metrics.pairwise import cosine_similarity

In [274]:
similarities = cosine_similarity(feature_vectors)

In [275]:
similarities.shape

(4806, 4806)

In [326]:
def get_recommendations(movie_name):
    try:
        movie_index = movies[movies['title'] == movie_name.lower()].index[0]
        distances = sorted(list(enumerate(similarities[movie_index])),reverse=True,key=lambda x:x[1])[1:6]
        recommendations = [movies['title'][distance[0]] for distance in distances]
        return recommendations
    except:
        print("Movie Not found")
        return None

In [327]:
get_recommendations("The Silence of the lambs")

['red dragon',
 'suspect zero',
 'hannibal rising',
 'journey from the fall',
 'in too deep']

In [328]:
get_recommendations("How to train your dragon")

['how to train your dragon 2',
 "dragon nest: warriors' dawn",
 'the outsiders',
 'george and the dragon',
 'eragon']

In [329]:
get_recommendations("The Conjuring")

['the conjuring 2',
 'the apparition',
 'freeze frame',
 'paranormal activity 3',
 'freakonomics']

In [330]:
get_recommendations("Iron Man")

['iron man 3',
 'iron man 2',
 'avengers: age of ultron',
 'the incredible hulk',
 'the avengers']

In [331]:
get_recommendations("Batman Begins")

['the dark knight',
 'batman',
 'the dark knight rises',
 'batman',
 'batman returns']

In [344]:
get_recommendations("Superman")

['superman ii',
 'superman returns',
 'superman iv: the quest for peace',
 'superman iii',
 'man of steel']